<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gguf</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>AIChatV2</string>
	<key>CFBundleIconFile</key>
	<string>AIChat</string>
	<key>CFBundleIconName</key>
	<string>AIChat</string>
	<key>CFBundleIdentifier</key>
	<string>com.abracode.AIChatV2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AIChat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>AIChatV2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aichatv2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.6</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>AIChat sends AppleEvents to other apps to provide functionality unique to this applet.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
